.track-order-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .track-order-frame215 {
    gap: 20px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 48px 100px;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    background-color: var(--dl-color-shades-offwhite);
  }
  .track-order-frame424 {
    gap: 16px;
    height: 323px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 4px;
    flex-direction: column;
    background-color: var(--dl-color-shades-white);
  }
  .track-order-frame510 {
    gap: 16px;
    display: flex;
    padding: 24px 48px;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .track-order-text {
    color: var(--dl-color-slate-900);
    height: auto;
    text-align: left;
    line-height: 30px;
  }
  .track-order-frame259 {
    gap: 16px;
    display: flex;
    padding: 0 48px;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .track-order-frame107 {
    gap: 4px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .track-order-text02 {
    color: var(--dl-color-slate-900);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 25px;
  }
  .track-order-text04 {
    color: var(--dl-color-slate-600);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 20px;
  }
  .track-order-frame106 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .track-order-frame10 {
    gap: 8px;
    display: flex;
    padding: 13px 16px;
    overflow: hidden;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(203, 213, 225, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .track-order-text06 {
    color: var(--dl-color-slate-400);
    height: auto;
    text-align: left;
    line-height: 17.5px;
  }
  .track-order-frame12 {
    gap: 8px;
    display: flex;
    padding: 16px 135px;
    overflow: hidden;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 4px;
    justify-content: center;
    background-color: var(--dl-color-brand-blueprimary);
  }
  .track-order-text08 {
    color: var(--dl-color-shades-white);
    height: auto;
    text-align: left;
    line-height: 20px;
  }
  .track-order-text10 {
    color: rgba(71, 85, 105, 1);
    width: 326px;
    height: auto;
    text-align: left;
    line-height: 17.5px;
  }
  .track-order-text11 {
    color: var(--dl-color-slate-600);
  }
  