.support-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .support-frame424 {
    gap: 16px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 48px 0;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 4px;
    flex-direction: column;
    background-color: var(--dl-color-shades-white);
  }
  .support-frame510 {
    gap: 8px;
    display: flex;
    padding: 24px 48px;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(226, 232, 240, 1);
    border-style: solid;
    border-width: 0 0 1px;
    justify-content: space-between;
  }
  .support-text {
    color: var(--dl-color-slate-900);
    width: 184px;
    height: auto;
    text-align: left;
    line-height: 22.5px;
  }
  .support-arrows-diagrams-arrow {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .support-group {
    top: -5.000000058430487e-8px;
    left: -5.000000058430487e-8px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .support-group01 {
    top: 7px;
    left: 5px;
    width: 14px;
    height: 10px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .support-path {
    top: 4.5px;
    left: 0px;
    width: 14px;
    height: 1px;
    position: absolute;
  }
  .support-path01 {
    top: 5px;
    left: 9px;
    width: 5px;
    height: 5px;
    position: absolute;
  }
  .support-path02 {
    top: 0px;
    left: 9px;
    width: 5px;
    height: 5px;
    position: absolute;
  }
  .support-frame511 {
    gap: 8px;
    display: flex;
    padding: 24px 48px;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(226, 232, 240, 1);
    border-style: solid;
    border-width: 0 0 1px;
    justify-content: space-between;
  }
  .support-text02 {
    color: var(--dl-color-slate-900);
    height: auto;
    text-align: left;
    line-height: 22.5px;
  }
  .support-arrows-diagrams-arrow1 {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .support-group02 {
    top: -5.000000058430487e-8px;
    left: -5.000000058430487e-8px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .support-group03 {
    top: 7px;
    left: 5px;
    width: 14px;
    height: 10px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .support-path03 {
    top: 4.5px;
    left: 0px;
    width: 14px;
    height: 1px;
    position: absolute;
  }
  .support-path04 {
    top: 5px;
    left: 9px;
    width: 5px;
    height: 5px;
    position: absolute;
  }
  .support-path05 {
    top: 0px;
    left: 9px;
    width: 5px;
    height: 5px;
    position: absolute;
  }
  .support-frame215 {
    gap: 20px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 48px 100px;
    overflow: hidden;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    background-color: var(--dl-color-shades-offwhite);
  }
  .support-frame471 {
    gap: 24px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
  }
  .support-arrows-diagrams-arrow2 {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .support-group04 {
    top: -5.000000058430487e-8px;
    left: -5.000000058430487e-8px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .support-group05 {
    top: 7px;
    left: 5px;
    width: 14px;
    height: 10px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .support-path06 {
    top: 4.5px;
    left: 0px;
    width: 14px;
    height: 1px;
    position: absolute;
  }
  .support-path07 {
    top: 0px;
    left: 0px;
    width: 5px;
    height: 5px;
    position: absolute;
  }
  .support-path08 {
    top: 5px;
    left: 0px;
    width: 5px;
    height: 5px;
    position: absolute;
  }
  .support-frame381 {
    gap: 24px;
    display: flex;
    padding: 16px 24px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(203, 213, 225, 1);
    border-style: solid;
    border-width: 0 0 1px;
    background-color: var(--dl-color-shades-white);
  }
  .support-text04 {
    color: var(--dl-color-slate-900);
    height: auto;
    text-align: left;
    line-height: 20px;
  }
  .support-frame281 {
    gap: 24px;
    display: flex;
    padding: 16px 24px;
    overflow: hidden;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(226, 232, 240, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
  .support-frame514 {
    gap: 8px;
    display: flex;
    padding: 0 0 24px;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(226, 232, 240, 1);
    border-style: solid;
    border-width: 0 0 1px;
    flex-direction: column;
  }
  .support-frame513 {
    gap: 16px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .support-text06 {
    color: var(--dl-color-slate-900);
    height: auto;
    text-align: left;
    line-height: 20px;
  }
  .support-arrows-diagrams-arrow3 {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .support-group06 {
    top: -5.000000058430487e-8px;
    left: -5.000000058430487e-8px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .support-path09 {
    top: 10px;
    left: 8px;
    width: 8px;
    height: 4px;
    position: absolute;
  }
  .support-text08 {
    color: var(--dl-color-slate-900);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 17.5px;
  }
  .support-frame515 {
    gap: 8px;
    display: flex;
    padding: 0 0 24px;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(226, 232, 240, 1);
    border-style: solid;
    border-width: 0 0 1px;
    flex-direction: column;
  }
  .support-frame5131 {
    gap: 16px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .support-text10 {
    color: var(--dl-color-slate-900);
    height: auto;
    text-align: left;
    line-height: 20px;
  }
  .support-arrows-diagrams-arrow4 {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .support-group07 {
    top: -5.000000058430487e-8px;
    left: -5.000000058430487e-8px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .support-path10 {
    top: 10px;
    left: 8px;
    width: 8px;
    height: 4px;
    position: absolute;
  }
  .support-text12 {
    color: var(--dl-color-slate-900);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 17.5px;
  }
  .support-frame516 {
    gap: 8px;
    display: flex;
    padding: 0 0 24px;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(226, 232, 240, 1);
    border-style: solid;
    border-width: 0 0 1px;
    flex-direction: column;
  }
  .support-frame5132 {
    gap: 16px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .support-text14 {
    color: var(--dl-color-slate-900);
    height: auto;
    text-align: left;
    line-height: 20px;
  }
  .support-arrows-diagrams-arrow5 {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .support-group08 {
    top: -5.000000058430487e-8px;
    left: -5.000000058430487e-8px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .support-path11 {
    top: 10px;
    left: 8px;
    width: 8px;
    height: 4px;
    position: absolute;
  }
  .support-frame517 {
    gap: 8px;
    display: flex;
    padding: 0 0 24px;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(226, 232, 240, 1);
    border-style: solid;
    border-width: 0 0 1px;
    flex-direction: column;
  }
  .support-frame5133 {
    gap: 16px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .support-text16 {
    color: var(--dl-color-slate-900);
    height: auto;
    text-align: left;
    line-height: 20px;
  }
  .support-arrows-diagrams-arrow6 {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .support-group09 {
    top: -5.000000058430487e-8px;
    left: -5.000000058430487e-8px;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .support-path12 {
    top: 10px;
    left: 8px;
    width: 8px;
    height: 4px;
    position: absolute;
  }
  .support-text18 {
    color: var(--dl-color-slate-900);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: 17.5px;
  }
  